<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2><a th:href="@{/answer/register}">Add Answer</a></h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>QuestionEmail</th>
        <th colspan="2">Action</th>
    </tr>
    <tr th:each="answer: ${answers}">
        <td th:text="${answer.id}"></td>
        <td th:text="${answer.questionEmail}"></td>
        <td><a th:href="@{'/answer/edit/' + ${answer.id} }">Edit</a></td>
        <td>
            <form th:action="@{/answer/delete/{id}(id = ${answer.id})}" method="post">
                <button type="submit" onclick="return confirm('Do you really want ot delete?')">Delete</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>