<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2><a th:href="@{/voter/register}">Add Voter</a></h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>VotingHistory</th>
        <th>CurrentVoting</th>
        <th colspan="2">Action</th>
    </tr>
    <tr th:each="voter: ${voters}">
        <td th:text="${voter.id}"></td>
        <td th:text="${voter.votingHistory}"></td>
        <td th:text="${voter.currentVoting}"></td>
        <td><a th:href="@{'/voter/edit/' + ${voter.id} }">Edit</a></td>
        <td>
            <form th:action="@{/voter/delete/{id}(id = ${voter.id})}" method="post">
                <button type="submit" onclick="return confirm('Do you really want ot delete?')">Delete</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>